services:
  mdp-client:
    container_name: client
    restart: unless-stopped
    image: quiz-app-client:latest
    build:
      context: ./client
      dockerfile: docker/Dockerfile
    depends_on:
      - mdp-server
    networks:
      - internal-client
    env_file:
      - ./client/.env
    volumes:
      - ./client/src:/home/node/app/client/src
      - ./client/package.json:/home/node/app/client/package.json
    ports:
      - '5173:5173'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.mb-client-secure.rule=Host(`${SITE_HOSTNAME}`) && !(PathPrefix(`/api`) || PathPrefix(`/auth`) || PathPrefix(`/public/images`)) || PathPrefix(`/public/files`)) || PathPrefix(`/public/defaults`))"
      - "traefik.http.routers.mb-client-secure.entrypoints=websecure"
      - "traefik.http.routers.mb-client-secure.service=mb-client-svc"
      - "traefik.http.services.mb-client-svc.loadbalancer.server.port=80"

  mdp-server:
    container_name: server
    restart: unless-stopped
    image: quiz-app-server:latest
    build:
      context: ./server
      dockerfile: docker/Dockerfile
    depends_on:
      - mdp-mongo
    env_file:
      - ./server/.env
    volumes:
      - ./server/src:/home/node/app/server/src
      - ./server/jobs:/home/node/app/server/jobs
      - ./server/public:/home/node/app/server/public
      - ./server/package.json:/home/node/app/server/package.json
    networks:
      - default
      - internal-client
    ports:
      - '5000:5000'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.mb-server-secure.rule=Host(`${SITE_HOSTNAME}`) && (PathPrefix(`/api`) || PathPrefix(`/auth`) || PathPrefix(`/public/images`)) || PathPrefix(`/public/files`))"
      - "traefik.http.routers.mb-server-secure.entrypoints=websecure"
      - "traefik.http.routers.mb-server-secure.service=mb-server-svc"
      - "traefik.http.services.mb-server-svc.loadbalancer.server.port=80"

  mdp-mongo:
    image: mongo:6.0
    command: mongod --quiet --logpath /dev/null
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    env_file:
      - ./server/.env
    volumes:
      - mongo-data:/data/db
    networks:
      - default
  
  mdp-socket:
    container_name: socket
    restart: unless-stopped
    image: quiz-app-socket:latest
    build:
      context: ./socket
      dockerfile: docker/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - ./socket/.env
    volumes:
      - ./socket:/home/node/app/socket
      - ./socket/package.json:/home/node/app/socket/package.json
    networks:
      - default
      - internal-client
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.mb-socket-secure.rule=Host(`${SITE_HOSTNAME}`) && PathPrefix(`/socket`)"
      - "traefik.http.routers.mb-socket-secure.entrypoints=websecure"
      - "traefik.http.routers.mb-socket-secure.service=mb-socket-svc"
      - "traefik.http.services.mb-socket-svc.loadbalancer.server.port=80"

networks:
  default:
    name: mdp-default
  internal-client:
    name: mdp-client
volumes:
  mongo-data:

