@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@layer base {
	body {
		@apply bg-gray-50 dark:bg-gray-900 text-gray-800 font-sans dark:text-white/90;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold text-gray-900 dark:text-white/90;
	}

	a {
		@apply text-blue-600;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	body {
		@apply relative font-normal font-outfit z-1 bg-gray-50;
	}
}

@layer base {
	.prose-content ul {
		@apply list-disc list-inside space-y-1 pl-4 mb-2;
	}

	.prose-content ol {
		@apply list-decimal list-inside space-y-1 pl-4 mb-2;
	}

	.prose-content li {
		@apply text-gray-800 dark:text-gray-300;
	}

	.prose-content h1 {
		@apply text-3xl font-bold mt-4 mb-2;
	}

	.prose-content h2 {
		@apply text-2xl font-semibold mt-4 mb-2;
	}

	.prose-content h3 {
		@apply text-xl font-semibold mt-4 mb-2;
	}

	.prose-content p {
		@apply text-base text-gray-700 dark:text-gray-300 mb-2;
	}
}
